* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 10px 16%;
    align-items: center;
    gap: 50px;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.links {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    font-size: 18px;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}
header a {
    color: #E5E7EB;
}
.hero {
    padding: 60px 16%;
    display: flex;
    gap: 20px;
    background-color: #1F2937;
    justify-content: center;
}
.right-side {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero > div {
    flex: 1 1 300px;
    min-height: 30vh;
}
h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}
.hero p {
    color: #F9FAF8;
    font-size: 18px;
}
button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 7px;
    border: none;
    margin-top: 17px;
}
.info {
    text-align: center;
    margin: 10px 0 20px 0;
}
.card {
    border: 3px solid #3882F6;
    border-radius: 8px;
    height: 140px;
    width: 140px;
}
.cards {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.cards > * {
    max-width: 140px;
    text-align: center;
}
.card-subtext {
    margin-top: 5px;
    color: #1F2937;
    font-size: 14px;
}
.testimonial {
    background-color: #E5E7EB;
    margin-top: 30px;
}
.quote-and-author {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
}
.quote {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    color: #1F2937;
}
.auth-container {
    display: flex;
    justify-content: space-between;
}
.author {
    font-weight: 700;
}